.DS_Store

auto-save-list
backups
elpa

/ido.last
/smex-items
/tramp

README.el
themes/
/.mc-lists.el
/.org-id-locations
anaconda-mode
eshell/
url/
/nov-places
/init.el*
/ido.*
/recentf*
/.*
/clear
/transient/*
*.eld
*.data
/straight/*
/amx-items
/mspyls/*
